body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
}

.main {
  width: 100%;
}

.main *:not(.main_image) {
  position: relative;
}

.main_image {
  height: 730px;
  width: -webkit-fill-available;
  background-image: url(../src/caffeine.jpg);
  background-size: cover;
  position: absolute;
}

.header {
  position: static;
  height: 72px;
  width: auto;
  margin-left: 8.24%;
  margin-right: 8.24%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.search {
    display: inline-flex;
}

.search_icon {
  background-image: url(../src/search.svg);
  height: 16px;
  width: 16px;
  margin: 28px 32px 28px 24px;
}

.search_text {
  height: 26px;
  width: 280px;
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 26px;
  margin: 23px 0px 23px 0;
  border: none;
}

.title {
  height: 22px;
  width: 148px;
  color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 25px;
}

.right_section {
  display: inline-flex;
}

.help {
  height: 48px;
  width: 198px;
  background-color: #3CABB1;
  margin-top: 12px;
  display: inline-block;
}

.help_text {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
  padding: 11px 32px 11px 32px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: block;
  height: initial;
}

.burger {
  background-image: url(../src/burger.svg);
  height: 14px;
  width: 22px;
  margin: 29px 25px 29px 25px;
}

.main_text {
  height: 144px;
  width: 530px;
  color: #FFFFFF;
  font-family: Alice;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 8.24%;
  margin-top: 88px;
}

.main_text_low {
  height: 78px;
  width: 530px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 8.24%;
  margin-top: 42.24px;
}

.next_button {
  background-color: #3CABB1;
  margin-left: 8.24%;
  margin-top: 52.52px;
  display: inline-block;
  height: 48px;
  width: 168px;
}

.next_button_text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  height: initial;
  display: block;
  text-decoration: none;
  padding: 10px 34px 12px 34px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 8.24%;
  margin-right: 8.24%;
  margin-top: 87px;
}

[class*=security] {
  height: 416px;
  width: 27.28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFF;
}

.lock_img {
  height: 213px;
  width: 159px;
  background-image: url(../src/turtle.jpg);
  background-size: contain;
  align-self: center;
}

.text_title {
  height: auto;
  width: auto;
  color: #000000;
  font-family: Alice;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 25px;
  margin-left: 10.78%;
  margin-bottom: 26.3px;
}

.text_description {
  height: auto;
  width: auto;
  opacity: 0.6;
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 10.78%;
  margin-bottom: 40.2px;
}

.read_next {
  height: auto;
  width: fit-content;
  color: #000000;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 10.78%;
  border-bottom: 2px solid #3CABB1;
  padding-bottom: 4px;
  white-space: nowrap;
}

.about {
  margin-top: 38px;
  height: 592px;
}


/* mobile section */

@media (max-width: 930px) {
  .help {display: none;}
}
